#query
  font-size 2rem
  text-align center

a.load-more
  width 100%

// mobile devices
@media screen and (max-width: 600px)
  .card-title
    font-size 1rem

  .grid-sizer, .masonry_element
    width 100%

  .gutter-sizer
    width 0

// tablet devices
@media screen and (min-width: 601px) and (max-width: 992px)
  /*
  .card-reveal
    padding 0 !important

  .col
    padding 0 3.5rem !important
  */

  .grid-sizer, .masonry_element
    width 49%

  .gutter-sizer
    width 2%

// desktop devices
@media screen and (min-width: 993px)
  .grid-sizer, .masonry_element
    width 19%

  .gutter-sizer
    width 1.25%

.masonry_element
  img
    border-radius 0
    height auto

    &.thumb
      background-color black
      border 2px solid black
      border-radius 4px
      float left
      margin 0 5px 0 0
      width 70px

  p.description
    display none
    line-height 1.1
    margin 5px 0
    pointer-events none
    text-align justify

  span.tools
    // display block
    float right
    line-height 1rem
    // margin-top -5px

    a.disabled
      cursor not-allowed
      opacity 0.25
      pointer-events none

  .card.small
    border-radius 2px
    margin 0 0 1.25rem

    .explicit
      border-color #f44236 transparent transparent transparent
      border-style solid
      border-width 34px 34px 0 0
      height 0
      width 0

  .card-content
    cursor pointer

    & > .card-title
      display block
      font-size 1.5rem
      line-height 1.5rem !important
      pointer-events none

  .card-image
    height 180px !important

  .card-reveal
    cursor pointer
    overflow hidden

    .card-title
      font-size 1.2rem
      line-height 0.9

  .label
    background-color black
    border-radius 2px
    color #ffffff
    display inline-block
    font-size 0.7rem
    font-weight 400
    line-height 1.2
    padding 4px 4px 2px 4px
    text-transform uppercase
    vertical-align baseline
    white-space nowrap

  .label:not(:last-child)
    margin-right 2px

  .labels
    // display inline-block
    pointer-events none

  .ribbon:not(.hide) + .card-image
    margin-top -20px

  .valign, .valign-wrapper
    width 100%

  .valign-wrapper
    height 100%
    left 0
    pointer-events none
    position absolute
    top 0

.row:not(:first-child)
  margin-bottom inherit
