#query
  font-size 2rem

.masonry-container
  margin 0 25px

$element-width = 225px

.masonry-element
  min-width $element-width

  img
    height auto

    &.thumb
      background-color black
      border 2px solid black
      border-radius 4px
      float left
      margin -5px 5px 0 0
      width 70px

  p.description
    display none
    line-height 13px
    pointer-events none
    // text-align justify

  span.tools
    display block
    float right
    line-height 1rem
    margin-top -5px

    a.disabled
      cursor not-allowed
      opacity 0.25
      pointer-events none

  .card
    & > *
      max-width $element-width

    &.small
      .explicit
        border-color #f44236 transparent transparent transparent
        border-style solid
        border-width 34px 34px 0 0
        height 0
        width 0

  .card-content
    cursor pointer

    & > .card-title
      display block
      pointer-events none

  .card-reveal
    cursor pointer

    .preloader-wrapper
      top 40%

  .card-title
    line-height 1.5rem !important

  .ribbon:not(.hide) + .card-image
    margin-top -43px
