.search
  button.mui-btn
    margin-top inherit

  .mui-col-xs-2
    padding-left inherit

  .mui-col-xs-10
    padding-right inherit

.flexbox
  align-items center
  display flex
  min-height inherit

.item
  text-align center
  width 33.33%

.masonry-element
  &:hover
    background-color #eee

  img
    height auto
    width 100px

  p
    line-height 1.1em
    width 100px

  .image
    background-color #eee
    min-height 100px
