.row
  .col.s12
    .row
      +checkbox id='shareStats' label='Make your usage data visible to other users' checked=shareStats

    .row
      +checkbox id='darkTheme' label='Use the dark theme variant' checked=darkTheme
      
    .row
      +range id='numResults' label='Maximum number of search results' min=0 max=numResults
