template(name='bottom-sheet')
  .modal.bottom-sheet
    .modal-content
      +yield
    
    .modal-footer
      +yield(region='buttons')
      a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') OK
