template(name='podcast')
  ul.collection.with-header
    li.collection-header: h4 #{name}
    
    each episodes
      li.collection-item.dismissable
        div #{title}
          a.secondary-content(href='#!')
            i.material-icons send
