template(name='player')
  footer.page-footer
    .row
      .col.s1
        a.btn-flat.waves-effect.waves-light(href='#')
          i.material-icons play_arrow
      
      .col.s7.m8.l8
        .progress
          .determinate(style='width: 70%')
      
      .col.s1
        a.btn-flat.waves-effect.waves-light(href='#')
          i.material-icons fast_rewind
      
      .col.s1
        a.btn-flat.waves-effect.waves-light(href='#')
          i.material-icons fast_forward
      
      .col.s1
        a.btn-flat.waves-effect.waves-light(href='#')
          i.material-icons queue_music
