// Materialize stylesheet override

/*
footer.page-footer
  margin 0
  padding 0

  .btn-flat
    height inherit
    line-height inherit

  .progress
    height 13px
    margin 0.5rem 0 0 0

  .row
    margin 0
*/

#modal-add
  .collection
    border none
    margin 0

    &.with-header .collection-header
      padding 10px 0 0 0

    .collection-item
      padding 10px 0 0 72px

      &.avatar
        min-height 65px

        p
          line-height 1rem
          margin-bottom 10px

      h5
        margin 0

  .modal-content
    padding 12px

nav ul a,
nav .brand-logo
  color #444


p
  line-height 2rem


.button-collapse
  color #26a69a


.icon-block
  padding 0 15px

  .material-icons
    font-size inherit


.parallax-container
  min-height 380px
  line-height 0
  height auto
  color rgba(255,255,255,.9)

  .parallax-container .section
    width 100%


@media only screen and (max-width: 992px)
  .parallax-container .section
    position absolute
    top 40%

  #index-banner .section
    top 10%


@media only screen and (max-width: 600px)
  #index-banner .section
    top 0
