template(name='fab')
  .fixed-action-btn
    a.btn-floating.btn-large.red: i.mdi-image-audiotrack

    ul
      li: a.btn-floating.red.disabled: i.mdi-av-queue-music
      li: a.btn-floating.red.disabled: i.mdi-av-fast-rewind
      li: a.btn-floating.red.disabled: i.mdi-av-play-arrow
      li: a.btn-floating.red.disabled: i.mdi-av-fast-forward
