#episodes.modal.modal-fixed-footer
  .modal-content
    h4.white-text #{title}
    +episodes
  
  .modal-footer
    a.btn-flat.modal-action.modal-close.waves-effect.waves-green(href='#!')
      i.mdi-navigation-close
      | Close
