#episodes
  h4
    font-weight 300
    line-height 0.8
    margin 0

  h5
    line-height 0.9
    margin 0

  h6
    margin-top 0

  p
    line-height 1.1rem

  li.collection-item
    min-height 50px
    padding-left 10px
    padding-right 50px

    a[class^=queue]
      border-style solid
      border-width 0 50px 50px 0
      position absolute
      right 0
      top 0

      &.queue
        border-color transparent #F44336 transparent transparent

      &.queued
        border-color transparent #AEEA00 transparent transparent

      & + i
        left inherit
        pointer-events none
        position absolute
        right -1px
        top 3px
