html, body
  height 100%
  margin 0
  padding 0
  width 100%


body
  transition background 0.5s ease-out


#burger
  top 0
  width 3rem


#fab
  bottom -55px
  right 40px

  a
    line-height 4.7rem

  i
    font-size 1.8rem
    line-height 1


#search input
  font-size 2rem
  font-style italic
  font-weight 300
  text-align right
  margin 0
  width calc(100% - 8rem)


#send
  position absolute
  right 0
  top 0

  li:hover
    background-color inherit

  a
    // margin -35px 0
    // padding 0 15px 0 0
    font-weight 300

  .term
    font-size 2rem
    line-height 0


nav a.button-collapse
  position absolute


.label
  border-radius 2px
  display inline-block
  // float left
  font-size 0.6rem
  font-weight 500
  line-height 1
  padding 4px 4px 3px 4px
  text-transform uppercase
  vertical-align baseline

  &.red
    margin-right -1px !important


.label:not(:last-child),
.label:not(.red)
  margin-right 2px


.labels
  pointer-events none


.hyphenate
  overflow-wrap break-word
  word-wrap break-word
  hyphens auto
