theme($name, $color)
  offset = 30deg
  $c1 = $color
  $c2 = spin($c1, (180deg - offset))
  $c3 = spin($c1, (180deg + offset))

  .theme-{$name}
    .c1
      color $c1

    .c2
      color $c2

    .c3
      color $c3

theme('orange', mix(#ff0, #f00))
theme('purple', mix(#f00, #00f))
