.ribbon
  color rgba(255, 255, 255, 0.9)
  font bold 0.82em sans-serif
  padding 0.2rem 0
  position relative
  text-align center
  text-decoration none
  user-select none

  &.top-left
    left -7.5rem
    top 1.5rem
    transform rotate(-45deg)
    z-index 10

  &.top-right
    right -86px
    top 20px
    transform rotate(45deg)
    z-index 11
