.valign-wrapper
  .valign.center-align
    .preloader-wrapper.small
      .spinner-layer.spinner-red-only
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
