#modal-exit.modal
  .modal-content
    h4 Exit?
    p Are you sure you wish to log out?
  
  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='{{pathFor route="exit"}}') OK
    a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Cancel
