#modal-add.modal
  .modal-content
    
    .collection.with-header
      .collection-header: h4.center-align Add podcast(s)
      
      a.collection-item.avatar(href='#')
        i.mdi-action-search.circle.red
        span.title: h5 Browse
        p Discover the best podcasts from around the web
      
      a.collection-item.avatar(href='#')
        i.mdi-device-storage.circle.red
        span.title: h5 Local
        p Import OPML file from a path in your system
      
      a.collection-item.avatar(href='#')
        i.mdi-file-cloud-download.circle.red
        span.title: h5 Remote
        p Import OPML file from a remote source (URL)
