.navbar-fixed
  nav.white(role='navigation')
    .nav-wrapper
      a#logo-container.brand-logo(href='/') scatpod
      
      ul.right.hide-on-med-and-down
        li: a(href='/search'): i.mdi-action-search
        li: a.modal-trigger(href='#modal-add'): i.mdi-content-add
        li
          a.dropdown-button(
            data-activates='user-menu'
            href='#'
          ): i.mdi-action-account-circle
      
      ul#user-menu.dropdown-content
        li: a(href='#!') Profile
        li: a(href='#!') Settings
        li.divider
        li: a(href='#!') Logout
      
      ul#nav-mobile.side-nav
        li: a(href='#')
          i.mdi-image-blur_on.left
          | Search
        
        li: a(href='#')
          i.mdi-content-add.left
          | Add
      
        li: .divider
        
        li: a(href='#')
          i.mdi-action-settings.left
          | Settings
      
      a.button-collapse(
        data-activates='nav-mobile'
        href='#'
      ): i.mdi-navigation-menu
