.navbar-fixed
  nav.red.darken-1(role='navigation')
    .nav-wrapper
      form#search.hide
        .input-field
          input.white-text.red.darken-4(autofocus type='search')

      ul.right.hide-on-med-and-down
        li: a.modal-trigger(href='#modal-add'): i.mdi-content-add
        li: a.dropdown-button(data-activates='user-menu' href='#'): i.mdi-action-account-circle

      ul#send.right
        li.search
          a.white-text.waves-effect.waves-light(href='#')
            i.mdi-action-search.right
            span.term #{term}

      ul#user-menu.dropdown-content
        li: a(href='#!') Profile
        li: a(href='#!') Settings
        li.divider
        li: a(href='#!') Logout

      ul#mobile-nav.side-nav
        li: a(href='#')
          i.mdi-image-blur_on.left
          | Search

        li: a.modal-trigger(href='#modal-add')
          i.mdi-content-add.left
          | Add

        li: .divider

        li: a(href='#')
          i.mdi-action-settings.left
          | Settings

      //- a#brand.brand-logo.white-text(href='#') scatpod

      a#burger.button-collapse.white-text(
        data-activates='mobile-nav'
        href='#'
      ): i.mdi-navigation-menu
